{% extends 'index.html' %}

{% block content %}
<ul class="list-group">
  {% for game in games %}
  <li class="list-group-item">
      <span class="text-info">Name: </span> <span><b>{{ game.name }}</b></span>
      <br>
<!--      TODO: nie działa stylizacja <a href={{ game.url }} class="jakakolwiek classa z Boostrap">-->
      <span class="text-info">Url: </span> <span><a href={{ game.url }}>{{ game.url }}</a></span>
      <br>
      <span class="text-info">Note: </span><span>{{ game.note }}</span>
      <br>
  </li>
  {% endfor %}
</ul>
{% endblock %}
